.App {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.logo-signed-out {
  top: 5%;
  position: absolute;
}

.sign-in {
  align-items: center;
  top: 5%;
  position: absolute;
}

.sign-out {
  top: 5%;
  right: 20px;
  width: 50px;
  height: 50px;
  position: absolute;
}

button {
  background-color: #0636b4;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 10px;
  cursor: pointer;
}

.logo-signed-in {
  top: 5%;
  left: 20px;
  position: absolute;
}

.scrollable-content {
  position: absolute;
  height: 275px;
  top: 110px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow-y: scroll;
}

